.dropdown-list {
    list-style: none;
    font-size: 20px;
    position: absolute;
    background-color: rgb(240, 236, 236);
    z-index: 1;
    color: black;
    display: flex;
    flex-direction: row;
    margin: 15px 0 0 0;
    padding: 0;
    box-shadow: 0 2px 4px 0;

    @media only screen and (min-width: 401px) and (max-width: 960px) {
        margin-top: 8px;
    }
}

.dropdown-li {
    background-color: rgb(240, 236, 236);
    border: none;
    outline: none;
    font-weight: 225;
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-family: 'Raleway', sans-serif;
    position: relative;
    padding: 15px;
    align-self: flex-start;

    &:hover {
        color: rgb(11, 125, 201);
        cursor: pointer;
        font-weight: 300;
    }

    &:focus {
        color: rgb(11, 125, 201);
        font-weight: 400;
    }

    @media only screen and (min-width: 401px) and (max-width: 960px) {
        font-size: 20px;
    }
}
