.places {
    margin-top: 150px;
    width: 100%;
    padding: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: white;

    @media only screen and (min-width: 401px) and (max-width: 960px) {
        margin-left: 5rem;
    }
}

.views {
    margin-top: 50px;
    font-family: 'Raleway', sans-serif; 
    display: flex;
    flex-direction: column;
    align-self: center;

    p {
        align-self: center;
        margin-bottom: 10px;
        box-shadow: 0 2px 0 0 black;
    }
    
    a {
        font-family: 'Raleway', sans-serif; 
        border: none;
        font-size: 22px;
        padding: .5em;

        &:hover {
            cursor: pointer;
            color: rgb(11, 125, 201);
            border: none;
        }
    }
}
