.places {
    margin-top: 150px;
    width: 100%;
    padding: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: white;
    box-sizing: border-box;

    @media only screen and (min-width: 401px) and (max-width: 960px) {

    }
}

.views {
    margin-top: 40px;
    font-family: 'Raleway', sans-serif; 
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    
    button {
        font-family: 'Raleway', sans-serif; 
        border: none;
        font-size: 20px;
        padding: .5em;
        text-decoration: none;
        color: black;
        outline: none;

        &:hover {
            cursor: pointer;
            color: rgb(11, 125, 201);
            border: none;
        }
    }

    p {
        margin: 0;
    }
}

.dropdown-menu {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    box-sizing: border-box;
    background-color: rgb(189, 192, 194);
    z-index: 1;
    padding: .5em;
    border-bottom: solid .25px;

    header {
        padding: 0;
        font-size: 22px;
        font-weight: 150;

        &:hover {
            cursor: pointer;
        }
    }
}

.trail-listing {
    display: flex;
    flex-direction: column;
}

.load-more {
    text-decoration: none;
    font-family: 'Raleway', sans-serif; 
    color: black;
    padding: 1em;
    font-size: 30px;
    border: none;
    align-content: center;
    outline: none;

    &:hover {
        color:rgb(11, 125, 201);
        cursor: pointer;
    }

    @media only screen and (min-width: 401px) and (max-width: 960px) {
        font-size: 20px;
    }
}

.rating-dropdown {
    margin-left: 10px;    

    header {
        font-size: 22px;
        font-weight: 325;
        margin-left: 1em;
    };

    @media only screen and (max-width: 400px) {
        header {
            font-size: 10px;
            margin-left: .6em;
        }
      }
}

// .rating-dropdown-list {
//     list-style: none;
//     font-size: 20px;
//     position: absolute;
//     background-color: rgb(189, 192, 194);
//     z-index: 1;
//     color: black;
//     display: flex;
//     flex-direction: column;
//     padding: 0;
//     margin-top: .75em;
// }

// .rating-list-item {
//     margin: .5em;
//     font-weight: 225;
//     padding: .2em;
//     text-decoration: none;
//     color: black;

//     &:hover {
//         color: rgb(11, 125, 201);
//         cursor: pointer;
//         font-weight: 300;
//     }
// }

