.loadingSpinner {
    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.loadingSpinner h3 {
    margin-top: 100px;
    margin-left: 40px;
    font-size: 40px;
    font-weight: 150;
    font-family: 'Raleway', sans-serif;
}

@media only screen and (min-width: 401px) and (max-width: 960px) {
    .loadingSpinner h3 {
        font-size: 30px;
        margin-left: 40px;
    }
}
