.home {
  background: url('./Canva-Mountains-Snow.jpg');
  background-size: cover;
  height: 1000px;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media only screen and (min-width: 401px) and (max-width: 960px) {
    font-size: 30px;
    height: 800px;
    background-size: cover;
  }

  h2 {
    font-size: 45px;
    font-family: 'Raleway', sans-serif; 
    font-weight: 300;
    margin-top: 80px;

    @media only screen and (min-width: 401px) and (max-width: 960px) {
      font-size: 30px;
    }
  }
}

.people-places-nav {
  margin-top: 150px;
  align-items: center;

  @media only screen and (min-width: 401px) and (max-width: 960px) {
    margin-top: 150px;
  }

  A {
    margin: .5em;
    padding: .5em;
    background-color: rgb(11, 125, 201);
    border-radius: .5em;
    font-size: 35px;
    font-weight: 200;
    opacity: .75;
    text-decoration: none;
    color: black;
    border: none;

    &:hover {
      cursor: pointer;
      opacity: .9;
    }

    @media only screen and (min-width: 401px) and (max-width: 960px) {
      font-size: 25px;
    }
  }
}