.places {
    background-color: white;
    width: 100%;
    padding: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

.views {
    font-family: 'Raleway', sans-serif;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

.views p {
    margin: 0;
}

.dropdownMenu {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    box-sizing: border-box;
    background-color: rgb(11, 125, 201);
    opacity: .7;
    z-index: 1;
    padding: 15px;
    border-bottom: solid .25px;
}

.dropdownMenu header {
    padding: 0;
    font-size: 25px;
    font-weight: 150;
    background-color: rgb(11, 125, 201);
    border: none;
}

.loadMore {
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    color: black;
    padding: 1em;
    font-size: 30px;
    border: none;
    align-content: center;
    outline: none;
}

.loadMore:hover {
    color: rgb(11, 125, 201);
    cursor: pointer;
}

.dropdownTitle {
    margin-left: 10px;
    color: black;
}

.dropdownTitle header {
    font-size: 25px;
    font-weight: 250;
    margin: 0 20px 0 20px;
    background-color: rgb(11, 125, 201);
    border: none;
}

.dropdownTitle header:hover {
    cursor: pointer;
}

.marker {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 10px;
    height: 10px;
    border: 1px solid;
    border-radius: 1em;
    user-select: none;
    transform: translate(-50%, 50%);
}

.marker:hover {
    z-index: 1;
}

.viewButton {
    font-family: 'Raleway', sans-serif;
    border: none;
    font-size: 20px;
    padding: 0 10px 0 10px;
    text-decoration: none;
    color: black;
    outline: none;
}

.viewButton:hover {
    cursor: pointer;
    color: rgb(11, 125, 201);
    border: none;
}

.resetButton {
    font-family: 'Raleway', sans-serif;
    text-decoration: none;
    border: none;
    outline: none;
    font-size: 20px;
}

@media only screen and (min-width: 401px) and (max-width: 960px) {
    .dropdownMenu {
        padding: .5em;
    }

    .dropdownMenu header {
        font-size: 20px;
    }

    .loadMore {
        font-size: 20px;
    }

    .dropdownTitle header {
        font-size: 20px;
        margin: 0 4px 0 4px;
    }
}
