.dashboard {
    background: url('../../images/Canva-Mountains-Snow.jpg');
    background-attachment: fixed;
    background-size: cover;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    font-family: 'Raleway', sans-serif;
    padding-bottom: 10%;
}

.myTrails {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    border-radius: 5px;
}

.mapList {
    display: flex;
    flex-direction: column;
    width: 100%;
    font-weight: 100;
    margin: 5% 0 0 5%;
    background-color: rgb(239, 240, 240);
    height: 350px;
    padding: 40px;
}

.mapList p {
    align-self: center;
}

.mapList h3 {
    margin: 0;
    padding-bottom: 20px;
    background-color: rgb(245, 239, 239);
    align-self: center;
    font-size: 30px;
}

.listContainer {
    overflow-y: scroll;
    scroll-behavior: smooth;
    vertical-align: middle;
}

.listContainer::-webkit-scrollbar {
    width: 2px;
}

.trailListing {
    display: flex;
    justify-content: space-between;
    border-bottom: solid 1px;
    padding: 5px;
    background-color: white;
    font-size: 20px;
}

.trailListing button {
    text-decoration: none;
    border: none;
    color: red;
}

.trailListing button:hover {
    cursor: pointer;
    font-weight: bold;
}

.addTrails {
    text-decoration: none;
    padding: 25px;
    color: black;
    align-self: center;
}

.addTrails:hover {
    cursor: pointer;
}

.welcome {
    align-self: center;
    font-size: 25px;
    margin-top: 75px;
}

.userStats {
    display: flex;
    align-items: center;
    flex-direction: row;
    background-color: white;
    margin: 0 5% 0 5%;
    padding: 25px 0 75px 0;
    background-color: rgb(239, 240, 240);
    color: rgb(51, 51, 51);
}

.stats {
    display: flex;
    width: 50%;
    flex-direction: column;
    align-items: center;
}

.stats p {
    font-size: 25px;
}

.stats h2 {
    font-size: 30px;
    font-weight: 100;
}

.statsTitle {
    background-color: rgb(239, 240, 240);
    border-top: solid rgb(11, 125, 201) 15px;
    width: 90%;
    margin: 0 5% 0 5%;
    padding-top: 20px;
    text-align: center;
    font-size: 30px;
}

@media only screen and (min-width: 401px) and (max-width: 960px) {
    .mapList {
        padding: 20px;
        height: 390px;
    }

    .mapList p {
        font-size: 15px;
    }

    .mapList h3 {
        font-size: 25px;
    }

    .trailListing {
        padding: 2px;
    }

    .addTrails {
        font-size: 20px;
    }

    .stats p {
        font-size: 20px;
    }

    .stats h2 {
        font-size: 25px;
    }

    .statsTitle {
        font-size: 25px;
    }
}
