.list-view {
    display: flex;
    flex-direction: column;
    padding-top: 40px;
    font-family: 'Raleway', sans-serif; 
}

.trail-container {
    padding: 30px;
    background-color: rgb(240, 236, 236);
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    font-size: 30px;
    margin: 4px 20px 0 20px;

    @media only screen and (min-width: 401px) and (max-width: 960px) {
        :nth-child(3) {
            justify-content: flex-end;
        }
    }
}

.left-side {
    display: flex;
    flex-direction: column;
    justify-content: center;

    h4 {
        font-weight: 300;
        margin: 0;
        font-size: 25px;
    }

    div {
        display: flex;
        vertical-align: middle;
    }

    @media only screen and (min-width: 401px) and (max-width: 960px) {
        h4 {
            font-size: 25px;
            max-width: 300px;
        }
    }
}

.image {
    width: 300px;
    border-radius: 5px;

    @media only screen and (min-width: 401px) and (max-width: 960px) {
        width: 300px;
    }
}

.location {
    margin-top: 0;
    font-size: 15px;
    font-weight: 200;
}

.summary {
    font-size: 20px;
    font-weight: 200;
}

.trail-details {
    font-size: 15px;
    font-weight: 200;
    margin: 5px;
}

.trail-description {
    width: 350px;
}

.trail-info {
    height: fit-content;
    align-self: center;
    padding: 5px;
}

.star-text {
    margin: 5px 0 5px 0;
    font-weight: 150;
    font-size: 20px;
}

.star-dropdown-list {
    list-style: none;
    font-size: 20px;
    padding: 0;
    position: absolute;
    background-color: rgb(240, 236, 236);
    z-index: 1;
}

.star-list-item {
    margin: 0.5em;
    font-weight: 225;
    padding: 0.2em;

    &:hover {
        color: rgb(11, 125, 201);
        cursor: pointer;
        font-weight: 300;
    }
}

.result-length {
    font-size: 18px;
    margin: 0 20px 0 20px;
    align-self: flex-end;
    font-weight: 150;
}

.symbol {
    height: 50px;
    width: 50px;
    border-radius: 5px;
}

.add-trail-btn {
    text-decoration: none;
    border: none;
    background-color:rgb(240, 236, 236);
    font-size: 16px;
    color: rgb(17, 182, 17);
    margin-left: 20px;
    
    &:hover {
        cursor: pointer;
        font-weight: bolder;
    };
};
