.user-home {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 30px;
  margin-top: -11px;

  @media only screen and (min-width: 401px) and (max-width: 960px) {
    background-size: cover;
    margin-top: 0;
  };
};

.message-board {
  font-family: 'Raleway', sans-serif;
  display: flex;
  flex-direction: column;
  width: 100%;
  background: url('../../images/Canva-Mountains-Snow.jpg');
  background-attachment: fixed;
  background-size: cover;
  height: 600px;

  h1 {
    align-self: center;
    font-weight: 100;
    margin-top: 10%;
    font-size: 70px;
  };
};

