.public-home {
    background: url('../../Images/Canva-Mountains-Snow.jpg');
    background-size: cover;
    background-attachment: fixed;
    height: 100%;
    display: flex;
    flex-direction: column;

    h2 {
        font-size: 50px;
        font-family: 'Raleway', sans-serif; 
        font-weight: 300;
        margin-top: 0px;
        padding-top: 150px;
        align-self: center;

        @media only screen and (min-width: 401px) and (max-width: 960px) {
            font-size: 30px;
        };
    };

    p {
        line-height: 1.5;
    };
};

.content {
    align-self: center;
    background-color: white;
    opacity: .8;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    vertical-align: middle;
    padding: 100px;
    font-family: 'Raleway', sans-serif;

    @media only screen and (min-width: 401px) and (max-width: 960px) {
        justify-content: space-between;
        padding: 75px;

    };

    p {
        width: 60%;
        font-size: 25px;
        font-weight: 250;
        align-self: center;

        @media only screen and (min-width: 401px) and (max-width: 960px) {
            font-size: 15px;
        };
    };

    h4 {
        font-size: 60px;
        margin: 0;
        align-self: center;

        @media only screen and (min-width: 401px) and (max-width: 960px) {
            font-size: 40px;
        };
    };
};

.trail {
    margin-top: 200px;
};

.friends {
    border-top: solid 50px rgb(11, 125, 201);;
};

.safety {
    margin: 0;
    flex-direction: column;
    width: 100%;
    padding: 125px;
    height: 375px;
    border-top: solid 50px rgb(11, 125, 201);

    @media only screen and (min-width: 401px) and (max-width: 960px) {
        height: 250px;
    };

    ul {
        list-style-type: decimal;
        align-self: center;

        li {
            margin: 15px;
            font-size: 25px;
            font-weight: 300;

            @media only screen and (min-width: 401px) and (max-width: 960px) {
                font-size: 20px;
            };
        };
    };

    h4 {
        font-size: 60px;
        font-family: 'Raleway', sans-serif;
        margin: 0 0 50px 0;
        align-self: center;
        border-bottom: solid 2px rgb(11, 125, 201);

        @media only screen and (min-width: 401px) and (max-width: 960px) {
            font-size: 40px;
            margin: 0 0 20px 0;

        };
    };
};

#rei-link {
    text-decoration: none;
    color: rgb(11, 125, 201);

    &:hover {
        border-bottom: solid 2px rgb(11, 125, 201);
    };
};